body{
font-family:arial;
background:linear-gradient(135deg, #eef2ff, #dbeafe);
display:flex;
justify-content: center;
align-items: center;
height: 100vh;
margin: 0;
}

.container{
    background: white;
    padding: 30px;
    border-radius: 16px;
    width: 340px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.08);
    max-width: 340px;
    width: 90%;
}

h1{
    text-align: center;
    margin-bottom: 20px;
}

input, button{
    width: 100%;
    padding: 12x;
    margin-top:10px;
    border-radius: 8px;
    border: 1px solid #efe7eb;
    outline:none;
    transition: 0.2s;
} 

input:focus{
    border-color: aquamarine;
    box-shadow: 0 0 0 3px rgba(99,102,241,0.15);
    }

    button{
        width: 100%;
        padding: 12px;
        border: none;
        border-radius: 8px;
        background: #6366f1;
        color:white;
        font-weight: bold;
        cursor: pointer;
        transition: 0.2s;
    }

    button:hover{
        transform: translateY(-2px);
       box-shadow:0 6px 15px rgba(0,0,0,0.15);
        
    }

    hr{
        margin: 25px 0;
        border:none;
        border-top: 1px solid #eee;
    }

    h2{
        margin: 25px;
    }
    /*listas*/
    ul{
        padding-left: 20px;
    }

    li{
        margin-bottom: 10px;
    }

    